* {
  margin: 0px;
  padding: 0px;

  text-decoration: none;

  max-width: 1400px;
  /* overflow-x: hidden; */
}

.bgimg {
  background-image: url(../Images/bgggg2.png);
  height: 700px;
  background-size: cover;
  background-position: center;
  background-position: center;
}
nav {
  display: flex;

  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;

  background-color: transparent;
}

.NAV-part-1 a {
  background-color: rgb(250, 219, 56);
  color: rgb(116, 71, 54);
  font-family: cursive;
  font-size: 18px;
  border-radius: 10px;
  padding: 6px;

  transition: all 0.5s;
}

.NAV-part-1 a:hover {
  color: rgb(255, 87, 87);
}

.Nav-logo img {
  max-width: 650px;
  height: 18vh;

  border-radius: 80px;
}

.Nav-part-2 {
  display: flex;
  gap: 20px;
}
.search {
  color: rgb(250, 219, 56);
  font-size: 18px;
  padding-right: 24px;
  border-bottom: 1px solid white;
  transition: all 0.5s;
}

.search input {
  background-color: transparent;
  max-width: 200px;
  font-size: 18px;
  padding-right: 10px;
  padding-bottom: 1px;
  border: none;
  outline: none;

  transition: all 0.5s;
}
.Nav-part-2 .search input::placeholder {
  color: rgb(250, 219, 56);
}
.user {
  /* background-color: rgb(116, 71, 54); */
  background-color: rgb(250, 219, 56);
  border-radius: 18px;
  /* padding: 20px; */
}
.user i {
  color: rgb(116, 71, 54);
  padding: 10px;
  height: 20px;
}
.user-text {
  color: rgb(116, 71, 54);
  font-size: 20px;
  font-family: cursive;
  padding: 10px;
  transition: all 0.5s;
}
.user-text:hover {
  color: rgb(255, 87, 87);
}

.content-homepage {
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.content-homepage h1 {
  margin-top: 120px;
  font-family: cursive;
  color: rgb(40, 19, 4);
  font-size: 35px;
  text-align: center;
}
.content-homepage p {
  /* background-color: rgb(116, 71, 54); */
  width: 560px;

  border-radius: 18px;
  margin: auto;
  margin-top: 20px;
  text-wrap: wrap;
  padding: 10px;
  padding-top: 25px;
  font-size: 20px;
  color: rgb(40, 19, 4);

  font-family: cursive;
}

.content-homepage .btn {
  border: 1px solid rgb(116, 71, 54);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 130px;
  background-color: rgb(40, 19, 4);
  color: rgb(250, 219, 56);

  border-radius: 50px;
}

.btn:hover {
  background-color: white;

  transform: translateX(20px);
}

/* section 2 about us */
.sec2 {
  padding: 3% 3%;
  margin: 7% 0;
}

.About {
  background-color: rgb(40, 19, 4);

  border-radius: 20px;
  min-height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.About .Acontent {
  padding: 3% 3%;
}

.sec2 h1 {
  font-size: 45px;
  color: rgb(40, 19, 4);

  padding-bottom: 35px;
  text-align: center;

  font-family: "Courier New", Courier, monospace;
}

.About .Acontent h2 {
  color: whitesmoke;
  font-size: 35px;
  margin-top: -60px;
  margin-bottom: 10px;
  font-family: cursive;
  text-align: center;
}
.About .Acontent li {
  display: inline;
  color: whitesmoke;

  padding: 10px;
  border-radius: 40px;
  margin-bottom: 30px;
}

.service-img {
  display: flex;
  justify-content: space-evenly;
}
.service-cardbox {
  width: 250px;
  margin-top: -100px;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}

.service-card {
  width: 250px;
  padding: 10px 5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0 0 40px rgb(40, 19, 4, 0.6);
  border: 1px solid rgba(170, 66, 18, 0.6);
  transition: all 0.3s;
}
.service-card:hover {
  box-shadow: 0 0 40px rgba(170, 66, 18, 0.6);
  transform: scale(1.02);
}

.service-card img {
  width: 230px;
  height: 250px;
  border-radius: 20px;
  padding: 10px;
}

/* section 3 --popular choice */

.sec3 {
  text-align: center;
}

.sec3 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  color: rgb(40, 19, 4);
}
.sec3 .cardbox {
  padding: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 270px;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(254, 253, 209, 0.6);

  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 0 40px rgba(170, 66, 18, 0.6);
  transform: scale(1.02);
}
.card img {
  width: 200px;
  height: 170px;
  padding: 40px 20px;
  border-radius: 25px;
}

.card h4,
.card p,
.card span {
  text-align: center;
  margin-bottom: 15px;
  display: block;
  color: indianred;
}

/* Regular section */
/* daily Dishes */

.Regularsec {
  text-align: center;
  overflow: hidden;
  color: rgb(116, 71, 54);
}

.Regularsec h1 {
  font-family: cursive;
  font-size: 45px;
  color: rgb(40, 19, 4);
}

.Regularsec .Regularsec-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: slide-left-right 18s linear infinite;
}

.Regularsec-cardbox {
  display: inline-block;
  border: 1px solid rgb(116, 71, 54);
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(254, 253, 209, 0.6);
  transition: all 0.3s;
}

.Regularsec-card:hover {
  box-shadow: 0 0 40px rgba(170, 66, 18, 0.6);
  transform: scale(1.02);
}

.Regularsec-card img {
  width: 200px;
  height: 150px;
  border-radius: 25px;
  border: 1px solid rgb(116, 71, 54);
}

.Regularsec-card h4 {
  text-align: center;
  margin-top: 10px;
  color: indianred;
}

/* Keyframes for sliding animation */
@keyframes slide-left-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* sec4 */
.sec4 {
  text-align: center;
  /* border: 1px solid rgba(170, 66, 18, 0.6); */
}

.sec4 h1 {
  font-family: cursive;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 50px;
  color: rgb(40, 19, 4);
}

.sec4 .video-container {
  border-radius: 35px;
  width: 800px;
  margin-left: 100px;
}

/* section Pastry */

.Pastry-sec {
  padding: 3% 3%;
  margin: 7% 0;
}

.PastryAbout {
  background-image: url(../Images/PastryBack.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 350px;
  width: 90%;
  margin-left: 50px;
  /* padding: 10%; */
  /* display: flex; */
}

.PastryAbout .Menu-p img {
  width: 390px;
  height: 450px;
  margin-left: 770px;
}
.Menu-p img {
  border-radius: 20px;
  margin-top: -120px;
  border: 2px solid rgb(116, 71, 54);
}

.Pastry-sec h1 {
  font-size: 55px;
  color: rgb(40, 19, 4);

  padding-bottom: 30px;

  margin-left: 90px;

  font-family: "Courier New", Courier, monospace;
}

.Pastryservice-img {
  display: flex;
  justify-content: space-evenly;
}
.Pastryservice-cardbox {
  width: 300px;
  margin-top: -100px;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}

.Pastryservice-card {
  width: 160px;
  height: 160px;

  border-radius: 15px;

  background-color: white;
  box-shadow: 0 0 40px rgb(40, 19, 4, 0.6);
  border: 1px solid rgba(170, 66, 18, 0.6);
  transition: all 0.3s;
}
.Pastryservice-card:hover {
  box-shadow: 0 0 40px rgba(170, 66, 18, 0.6);
  transform: scale(1.02);
}

.Pastryservice-card img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

/* sec5 */
.sec5 {
  padding: 5% 10%;
  margin: 10% 0;
}

.newsletter {
  background-color: #cf5858;
  border-radius: 20px;
  min-height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.newsletter img {
  width: 25vw;
  max-width: 500px;
}

.newsletter .content {
  width: 45vh;

  padding: 5% 3%;
}

.newsletter .content h1 {
  color: white;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 70%;

  font-family: "Courier New", Courier, monospace;
}

.newsletter .content h2 {
  color: rgb(43, 17, 17);
  font-size: 45px;
  font-family: cursive;
}

.newsletter .subscribe {
  background-color: white;
  padding: 10px;
  border-radius: 40px;
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.newsletter .subscribe input {
  font-size: 13px;
  width: 50%;
  outline: none;
  border: none;
  padding: 10px;
}

.newsletter .subscribe button {
  font-size: 10px;

  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(43, 17, 17);
  cursor: pointer;
}

/* sec6 footer*/
.sec6 {
  padding: 1% 10%;
  display: flex;
  justify-content: space-between;
}

.sec6 img {
  width: 150px;
}
.sec6 div {
  width: 150px;
}
.sec6 ul li:first-child {
  margin-top: 50px;
  font-weight: 550;
  list-style: none;
  color: rgb(43, 17, 17);
  font-family: cursive;
}

.sec6 li,
.sec6 p {
  padding: 10px 0;
  padding-left: 16px;
  list-style: none;
}

.sec6 p,
.sec6 a {
  color: darkgrey;
  font-size: 14px;
  line-height: 20px;
}

.sec6 a:hover {
  color: indianred;
  cursor: pointer;
}
.sec6 p:hover {
  color: indianred;
  cursor: pointer;
}

.footer {
  text-align: center;
  /* padding-bottom: 5px; */
  margin-top: 1px;
  height: 60px;
  font-size: 18px;

  /* background-color: rgb(255, 87, 87); */
  background-color: rgb(116, 71, 54);
  /* color: rgb(43, 17, 17); */
  color: rgb(250, 219, 56);
}
.footer p {
  padding: 20px;
}

/*Mobile device  */

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    height: auto;
  }
  .bgimg {
    padding: 6%;
  }

  .Nav-logo img {
    max-width: 20%;
    align-items: start;
    margin-top: -45px;
    height: auto;
  }

  .Nav-part-2 {
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
    /* color: white; */
  }

  .search {
    background-color: rgb(250, 219, 56);
    color: rgb(116, 71, 54);
    font-size: 28px;
    padding-right: 24px;
    border-radius: 20px;
    padding: 10px;
    border-bottom: 1px solid white;
    transition: all 0.5s;
  }

  .Nav-part-2 .search input::placeholder {
    color: rgb(116, 71, 54);
  }

  .content-homepage h1 {
    font-size: 28px;
    margin-top: 60px;
  }

  .content-homepage p {
    font-size: 16px;
    width: 100%;
    padding: 10px;
  }
  .Acontent li {
    margin-left: 15px;
  }
  .service-card {
    width: 200px;

    padding: 0px;
    border-radius: 15px;

    background-color: white;
    box-shadow: 0 0 40px rgb(40, 19, 4, 0.6);
    border: 1px solid rgba(170, 66, 18, 0.6);
    transition: all 0.3s;
  }
  .service-img {
    margin-top: 60px;
    flex-direction: column;
    gap: 120px;

    margin-left: 50px;
  }

  .service-card {
    width: 230px;
  }

  .sec3 .cards {
    flex-direction: column;
  }

  .sec4 .video-container {
    margin-left: 0px;
    width: 30%;
  }
  .PastryAbout {
    margin-left: 25px;
  }
  .PastryAbout .Menu-p img {
    width: 300px;
    height: 400px;
    margin-top: 220px;
    margin-left: 25px;
  }
  .Menu-p img {
    border-radius: 20px;

    border: 2px solid rgb(116, 71, 54);
  }

  .Pastryservice-img {
    flex-direction: column;
    gap: 110px;
    margin-top: 120px;
    margin-left: 35px;
  }

  /* sec5 */
  .newsletter {
    flex-direction: column;
  }

  .newsletter .image {
    width: 450px;
    margin-left: 330px;
  }

  .newsletter .content h2,
  .newsletter .content h1 {
    margin-left: 70px;
  }

  .newsletter .subscribe {
    margin-left: 50px;

    display: flex;

    width: 70%;
  }

  .sec6 {
    flex-direction: column;
    align-items: center;
  }

  .sec6 img {
    width: 100px;
  }
}
