* {
  margin: 0px;
  padding: 0px;

  text-decoration: none;

  max-width: 1400px;
  /* overflow-x: hidden; */
}

nav {
  display: flex;

  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: rgb(255, 87, 87);
}

.NAV-part-1 a {
  color: rgb(40, 19, 4);
  font-family: cursive;
  font-size: 18px;
  padding-right: 10px;
  transition: all 0.5s;
}

.NAV-part-1 a:hover {
  color: whitesmoke;
}

.Nav-logo img {
  max-width: 650px;
  height: 18vh;

  border-radius: 80px;
}

.Nav-part-2 {
  display: flex;
  gap: 20px;
}
.search {
  color: rgb(40, 19, 4);
  font-size: 18px;
  padding-right: 10px;
  border-bottom: 1px solid white;
  transition: all 0.5s;
}

.search input {
  background-color: transparent;
  max-width: 200px;
  font-size: 18px;
  padding-right: 10px;
  padding-bottom: 1px;
  border: none;
  outline: none;

  transition: all 0.5s;
}
.Nav-part-2 .search input::placeholder {
  color: whitesmoke;
}

.user i {
  color: rgb(40, 19, 4);
  padding: 5px;
  height: 20px;
}
.user-text {
  color: rgb(40, 19, 4);
  font-size: 20px;
  font-family: cursive;
  padding-right: 10px;
  transition: all 0.5s;
}
.user-text:hover {
  color: whitesmoke;
}

/* section 1 */
.sec1 {
  background-image: url(../Images/Pastel\ Pink\ and\ Brown\ Modern\ Sale\ Food\ Banner.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-position: center;
}

.content-homepage {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.content-homepage h1 {
  padding-left: 30px;
  margin-top: 90px;
  font-family: cursive;
  color: rgb(40, 19, 4);
  font-size: 35px;
}
.content-homepage p {
  padding-left: 30px;
  padding-top: 25px;
  color: rgb(255, 87, 87);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content-homepage .btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 130px;

  background-color: rgb(255, 87, 87);
  color: white;
  display: inline-flex;
  border-radius: 50px;
}

.btn:hover {
  background-color: rgb(40, 19, 4);

  transform: translateX(20px);
}

/* section 2 about us */
.sec2 {
  padding: 3% 3%;
  margin: 7% 0;
}

.About {
  background-color: rgb(40, 19, 4);

  border-radius: 20px;
  min-height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.About .Acontent {
  padding: 3% 3%;
}

.sec2 h1 {
  font-size: 45px;
  color: rgb(40, 19, 4);

  padding-bottom: 35px;
  text-align: center;

  font-family: "Courier New", Courier, monospace;
}

.About .Acontent h2 {
  color: whitesmoke;
  font-size: 35px;
  margin-top: -60px;
  margin-bottom: 10px;
  font-family: cursive;
  text-align: center;
}
.About .Acontent li {
  display: inline;
  color: whitesmoke;

  padding: 10px;
  border-radius: 40px;
  margin-bottom: 30px;
}

.service-img {
  display: flex;
  justify-content: space-evenly;
}
.service-cardbox {
  width: 250px;
  margin-top: -100px;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}

.service-card {
  width: 250px;
  padding: 10px 5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0 0 40px rgb(40, 19, 4, 0.6);
  border: 1px solid rgba(170, 66, 18, 0.6);
  transition: all 0.3s;
}
.service-card:hover {
  box-shadow: 0 0 40px rgba(170, 66, 18, 0.6);
  transform: scale(1.02);
}

.service-card img {
  width: 230px;
  height: 250px;
  border-radius: 20px;
  padding: 10px;
}

/* section 3 --popular choice */

.sec3 {
  text-align: center;
}

.sec3 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  color: rgb(40, 19, 4);
}
.sec3 .cardbox {
  padding: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 270px;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(254, 253, 209, 0.6);
  /* border: 1px solid rgba(170, 66, 18, 0.6); */
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 0 40px rgba(170, 66, 18, 0.6);
  transform: scale(1.02);
}
.card img {
  width: 200px;
  height: 170px;
  padding: 40px 20px;
  border-radius: 25px;
}

.card h4,
.card p,
.card span {
  text-align: center;
  margin-bottom: 15px;
  display: block;
  color: indianred;
}

/* sec4 */
.sec4 {
  text-align: center;
  /* border: 1px solid rgba(170, 66, 18, 0.6); */
}

.sec4 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 50px;
  color: rgb(40, 19, 4);
}

.sec4 .video-container {
  padding: 70px 50px;
  align-items: center;
  justify-content: space-evenly;
  width: 900px;
}

/* sec5 */
.sec5 {
  padding: 5% 10%;
  margin: 10% 0;
}

.newsletter {
  background-color: #cf5858;
  border-radius: 20px;
  min-height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.newsletter img {
  width: 25vw;
  max-width: 500px;
}

.newsletter .content {
  width: 45vh;

  padding: 5% 3%;
}

.newsletter .content h1 {
  color: white;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 70%;

  font-family: "Courier New", Courier, monospace;
}

.newsletter .content h2 {
  color: rgb(43, 17, 17);
  font-size: 45px;
  font-family: cursive;
}

.newsletter .subscribe {
  background-color: white;
  padding: 10px;
  border-radius: 40px;
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.newsletter .subscribe input {
  font-size: 13px;
  width: 50%;
  outline: none;
  border: none;
  padding: 10px;
}

.newsletter .subscribe button {
  font-size: 10px;

  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(43, 17, 17);
  cursor: pointer;
}

/* sec6 footer*/
.sec6 {
  padding: 1% 10%;
  display: flex;
  justify-content: space-between;
}

.sec6 img {
  width: 150px;
}
.sec6 div {
  width: 150px;
}
.sec6 ul li:first-child {
  margin-top: 50px;
  font-weight: 550;
  list-style: none;
  color: rgb(43, 17, 17);
  font-family: cursive;
}

.sec6 li,
.sec6 p {
  padding: 10px 0;
  padding-left: 16px;
  list-style: none;
}

.sec6 p,
.sec6 a {
  color: darkgrey;
  font-size: 14px;
  line-height: 20px;
}

.sec6 a:hover {
  color: indianred;
  cursor: pointer;
}
.sec6 p:hover {
  color: indianred;
  cursor: pointer;
}

.footer {
  text-align: center;
  /* padding-bottom: 5px; */
  margin-top: 1px;
  height: 60px;
  font-size: 18px;

  background-color: rgb(255, 87, 87);
  color: rgb(43, 17, 17);
}
.footer p {
  padding: 20px;
}

/* sec */
